name: weather-assignment 

on:
  schedule:
    - cron: '30 6,15 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  weather-date:
    runs-on: ubuntu-latest
    # is run
    # if: github.repository == 'SupportTP/resources-api'
    steps:
      # - uses: SupportTP/TargetWarehouse@master
      - name: System Time Change
        env:
          TZ: Asia/Shanghai
        run: |
          date
      - name: Virtual-Container Deploy
        env:
          TZ: Asia/Shanghai
        run: |
          pwd
          mkdir ${{ secrets.REPOSITORY_NAME }}
          cd ${{ secrets.REPOSITORY_NAME }}
          pwd
          git init
          git status
          git config --global user.name "Code Actions"
          git config --global user.email ${{ secrets.GIT_MAIL }}
          git config --list
          git remote add origin https://${{ secrets.ACTION_TOKEN }}@github.com/${{ secrets.GIT_USERNAME }}/${{ secrets.REPOSITORY_NAME }}.git
          git pull origin master
      - name: Execute Script
        env: 
          MASTER_MAIL_SMTP_FROMADDRESS: ${{ secrets.MASTER_MAIL_SMTP_FROMADDRESS }}
          MASTER_MAIL_SMTP_TOADDRESS: ${{ secrets.MASTER_MAIL_SMTP_TOADDRESS }}
          MASTER_MAIL_SMTP_163QY_SSL: ${{ secrets.MASTER_MAIL_SMTP_163QY_SSL }}
          MASTER_MAIL_SMTP_SSL_PORT: ${{ secrets.MASTER_MAIL_SMTP_SSL_PORT }}
          MASTER_MAIL_SMTP_163QY_PASSWORD: ${{ secrets.MASTER_MAIL_SMTP_163QY_PASSWORD }}
          TZ: Asia/Shanghai
        run: |
          pwd
          cd ${{ secrets.REPOSITORY_NAME }}
          python visualcrossing.py
      - name: Execute Submit
        env:
          TZ: Asia/Shanghai
        run: |
          pwd
          cd ${{ secrets.REPOSITORY_NAME }}
          pwd
          git status
          git add ./weather.log
          git commit -m 'Actions to Execute Script'
          git push origin master

#      - name: Modify FileName
#        env:
#          TZ: Asia/Shanghai
#        run: |
#          pwd
#          cd ${{ secrets.REPOSITORY_NAME }}
#          pwd
#          chmod -R 755 .git
#          python upsetimg.py
#          du -sh ./*
